body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.heading {
  font-family: italic; 
  text-align: center;
}
.App {
  background-color: rgb(135, 206, 235);
  min-height: 100vh;
}
.search-form{
  min-height: flex;
  display:flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
}
.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-top: 10px;

}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}
.container {
  /* background-color: rgb(255,215,0); */
  background-color: lightcoral;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; /* Adjust the width as needed */
  border-radius: 5%;
  border: 2px solid #ccc;
  text-align: center;
  margin: auto; /* Center the container horizontally */
  margin-top: 5vh;
  margin-bottom: 5vh; /* Center the container vertically, adjust as needed */
}